.cover {
    background: linear-gradient(to left bottom, #6D7F94, #24303f) !important;
    color: #ffffff;
}

.cover .anchor span {
    color: #ffffff;
}

section.cover .cover-main > p:last-child a {
    border-radius: 4px;
}

section.cover .cover-main > p:last-child a:last-child {
    border-radius: 4px;
}

.sidebar-nav ul:not(.app-sub-sidebar) > li.collapse::before {
  transform: rotate(-45deg);
}

body {
    font-family: BlinkMacSystemFont,Segoe UI,Ubuntu,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #fff;
}

.image-size {
    width: 200px;
    height: auto;
}
.div1 {
    height: 25em;
    width: 45em;
    border: 2px solid  gray;
    border-bottom: 2px solid  gray;
    position:static;
}
.startleft {
    border: 2px solid  gray;
    border-bottom: 2px solid  gray;
    position: relative;
    align-content: flex-start;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.markdown-section blockquote {
    border-left: 4px solid #42b983;
    border-left: 4px solid #42b983;
    color: black;
    margin: 2em 0;
    padding-left: 20px;
    background-color:skyblue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sidebar {
    background-color: #1d2133;
    padding: 20px;
    color: white;
}



.sidebar a {
    color: #fff;
    text-decoration: none;
    text-emphasis-color: white;
}

.sidebar a:hover {
    color: skyblue;
}
myTable {
  margin: 0 auto;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  text-align: center;
}

.left-container {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  height: 100%;
}

.left {
  text-align: left;
}

#sidebar {
    width: 250px; /* Adjust the width as needed */
    transition: all 0.3s;
}

#sidebar.active {
    width: 0;
}

.collapsible {
    cursor: pointer;
}

.collapse {
    display: none;
    list-style-type: none;
}

.collapsed .collapse {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
        text-align: left;
}

th {
    background-color: #f2f2f2;
}
