.cover {
    background: linear-gradient(to left bottom, #6D7F94, #24303f) !important;
    color: #ffffff;
}

.cover .anchor span {
    color: #ffffff;
}

section.cover .cover-main > p:last-child a {
    border-radius: 4px;
}

section.cover .cover-main > p:last-child a:last-child {
    border-radius: 4px;
}

.sidebar-nav ul:not(.app-sub-sidebar) > li.collapse::before {
  transform: rotate(-45deg);
}

body {
    font-family: 'Muli',sans-serif, "Times New Roman", serif;
    font-size: 14px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #36344D;
    letter-spacing: .3px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.image-size {
    width: 200px;
    height: auto;
}
.div1 {
    height: 25em;
    width: 45em;
    border: 2px solid  gray;
    border-bottom: 2px solid  gray;
    position:static;
}
.startleft {
    border: 2px solid  gray;
    border-bottom: 2px solid  gray;
    position: relative;
    align-content: flex-start;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.markdown-section blockquote {
    border-left: 4px solid #42b983;
    border-left: 4px solid #42b983;
    color: black;
    margin: 2em 0;
    padding-left: 20px;
    background-color:skyblue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.search input {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    width: inherit;
}
.content {
    margin-right: 10px;
    width: auto;
    padding-left: 0;
}
.sidebar {
    background-color: #24303f;
    padding: 5px;
    color: #ffffff;
    width: 300px;
    transition: left 0.3s ease;
    z-index: 1;
    font-family:inherit;
    display:inherit;
    font-style: normal;
    font-weight: 1000;
    overflow-x: hidden;
    padding-top: 20px;
    margin-bottom: 0;
    border-spacing:inherit;
    margin-left: 0;
    font-size: 10px;
}
.fas fa-caret-down{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin: 0 0;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
}
.sidebar ul li:hover {
    background-color:#3d4153;
    color: black;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    text-emphasis-color: white;
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar a:hover {
    color:dodgerblue;
}
myTable {
  margin: 0 auto;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center {
  text-align: center;
}

.left-container {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  height: 100%;
}

.left {
  text-align: left;
}
.collapsible {
    cursor: pointer;
}

.collapse {
    display: none;
    list-style-type: none;
}

.collapsed .collapse {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
        text-align: left;
}

th {
    background-color: #f2f2f2;
}

.webkit-scrollbar {
    width: 10px;
}
.webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.webkit-scrollbar-corner {
    background-color: #1d2133;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}


.table-of-contents > ul.titles > li > a {
    font-family: "Montserrat";
    font-weight: 400;
    -webkit-font-smoothing: auto;
    font-size: 17px;
    font-size: 1.7rem;
    color: #121212;
    line-height: 1.7;
    padding: 5px 0;
    border-bottom: 1px solid #82888c;
    text-decoration: none;
}



